<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title</title>
    
    <!-- Link your CSS file -->
    <link rel="stylesheet" href={{ url_for('static', filename='RegistreLogin.css') }}>
</head>
<body>
    <div id="app" v-cloak>

        <div class="actions">
            <a href="">
                <button :class='[{ active: isDisabled("register") }]'
                @click.prevent='setComponent("register")'>Register</button>
            </a>
            <a href="{{ url_for('views.signin') }}">
                <button>Sign in</button>
            </a>
        </div>

        <transition name='form' mode='out-in'>
            <keep-alive>
                <component :feedback='feedback' :is="currentComponent"
                @register-form='handleForm' @signin-form='handleForm'></component>
            </keep-alive>
        </transition>

    </div>

    <!-- Register Template -->
    <template id="registerTemplate">
        <form method="post" ref='form' action="" class='register-form'>
            <h2>Register</h2>
            <div class="form-group" >
                <label for="fullname">Name</label>
                <input required type="text" v-model.trim='user.fullname' name="fullname" id='fullname' placeholder="Full name">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input required type="text" v-model.trim='user.phone' name="phone" id='phone' placeholder="Enter your phone number">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input required type="email" v-model.trim='user.email' name="email" id='email' placeholder="exemple@gmail.com">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input required type="text" v-model.trim='user.address' name="address" id='address' placeholder="Adresse">
            </div>
            <div class="form-group">
                <label for="profile">Profile</label>
                <div class="select-wrapper">
                    <span class="placeholder" v-show="!user.profile">Select your matched profile</span>
                    <select name="profile" required v-model='user.profile' id='profile'>
                        <option value="Admin">Admin</option>
                        <option value="Manager">Manager</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input required name="password" type="Password" v-model='user.password' placeholder="Password" id='password'>
            </div>
            <div class="form-group">
                <label for="passwordcheck">Retype password</label>
                <input name="passwordChck" required type="password" v-model='user.passwordChck' placeholder="Confirme your password" id='passwordcheck'>
            </div>
            <input type="submit" :disabled='!isFormValid' value='Register'>
        </form>
    </template>
    <!-- Feedback Template -->
    <template id="feedbackTemplate">
        <div class="feedback">
            <header>
                <h2>{{ title }}</h2>
            </header>
            <div v-if='feedback.type === "register"'>
                <p>Welcome, <strong>{{ feedback.data.firstname }}</strong>! <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M7.03 4.95L3.5 8.5c-3.33 3.31-3.33 8.69 0 12s8.69 3.33 12 0l6-6c1-.97 1-2.56 0-3.54c-.1-.12-.23-.23-.37-.32l.37-.39c1-.97 1-2.56 0-3.54c-.14-.16-.33-.3-.5-.41c.38-.92.21-2.02-.54-2.77c-.87-.87-2.22-.96-3.2-.28a2.517 2.517 0 0 0-3.88-.42l-2.51 2.51c-.09-.14-.2-.27-.32-.39a2.53 2.53 0 0 0-3.52 0m1.41 1.42c.2-.2.51-.2.71 0s.2.51 0 .71l-3.18 3.18a3 3 0 0 1 0 4.24l1.41 1.41a5 5 0 0 0 1.12-5.36l6.3-6.3c.2-.2.51-.2.7 0s.21.51 0 .71l-4.59 4.6l1.41 1.41l6.01-6.01c.2-.2.51-.2.71 0s.2.51 0 .71l-6.01 6.01l1.41 1.41l4.95-4.95c.2-.2.51-.2.71 0s.2.51 0 .71l-5.66 5.65l1.41 1.42l3.54-3.54c.2-.2.51-.2.71 0s.2.51 0 .71l-6 6.01c-2.54 2.54-6.65 2.54-9.19 0s-2.54-6.65 0-9.19zM23 17c0 3.31-2.69 6-6 6v-1.5c2.5 0 4.5-2 4.5-4.5zM1 7c0-3.31 2.69-6 6-6v1.5c-2.5 0-4.5 2-4.5 4.5z"/></svg></p>
            </div>
            <div v-else>
                <p>Vous allez être redirigé(e) dans quelques instants...</p>
            </div>
        </div>
    </template>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="{{ url_for('static', filename="registre.js") }}" ></script>
</html> 