<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Your Title</title>
    
    <!-- Link your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='RegistreLogin.css') }}">
</head>
<body>
    <div id="app" v-cloak>

        <div class="actions">
            <a href="{{ url_for('views.registre') }}">
              <button>Register</button>
            </a>
            <a href="">
                <button :class='[{ active: isDisabled("signin") }]'
                @click.prevent='setComponent("signin")'>Sign in</button>
            </a>
        </div>

        
        <transition name='form' mode='out-in'>
            <keep-alive>
                <component :feedback='feedback' :is="currentComponent"
                @register-form='handleForm' @signin-form='handleForm'></component>
            </keep-alive>
        </transition>
        
        

    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Signin Template -->
    <template id="signinTemplate">
        <form ref='form' method="post" action="{{ url_for('views.signin') }}" class='signin-form'>
            <h2>Sign in</h2>
            <div class="form-group">
                <label for="email">Email </label>
                <input required v-model='user.email' name="sign_email" type="email" id='email' placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input required v-model='user.password' name="sign_password" type="password" id='password' placeholder="enter your password">
            </div>
            <div class="form-group">
                <label for="profile">Profile</label>
                <div class="select-wrapper">
                    <span class="placeholder" v-show="!user.profile">Select your matched profile</span>
                    <select required v-model='user.profile' name="sign_profile" id='profile'>
                        <option value="Admin">Admin</option>
                        <option value="Manager">Manager</option>
                    </select>
                </div>
            </div>
            <div class="cont">
                {% if error_message %}
                <p class="msg_error">{{ error_message }}</p>
            {% endif %}
                <input :disabled='!isFormValid' type="submit" value="Sign in">
            </div>
        </form>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="{{ url_for('static', filename='signin.js') }}"></script>  
    
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script>
        // Close the alert message when the close button (X) is clicked
        document.querySelectorAll('.alert .close').forEach(function(button) {
          button.addEventListener('click', function() {
            this.parentElement.style.display = 'none'; // Hide the parent alert element
          });
        });
      </script>
</body>

</html>